#-*-Makefile-*- vim:syntax=make

TARGET = denodeb_testsystem

PROGRAMMER ?= avrdude
PROGRAMMER_PART ?= -pm256rfr2

# 16 MHz
AVR_FUSE_L ?= 0xff

# OCDEN|JTAGEN|SPIEN|WDTON|EESAVE|BOOTSZ|BOOTRST
#   1  |   0  |  0  |  1  |   1  |  00  |   0
# No debugging, JTAG+SPI, no WDT, no EESAVE, 8K bootloader
AVR_FUSE_H ?= 0x98

# Brown-out at 2.4V
AVR_FUSE_E ?= 0xf8

CFLAGS += -DDEVICE_TYPE_IDENTIFICATOR=0xEE
CFLAGS += -DDEVICE_HARDWARE_VERSION=0x03
MAIN_IMAGE_END_ADDRESS = 0x3e000

# 2fc59c3e-34b3-4368-9cdd-a8076cc5b090
CFLAGS += -DPLATFORM_UUID_TIME_LOW=0x2fc59c3e
CFLAGS += -DPLATFORM_UUID_TIME_MID=0x34b3
CFLAGS += -DPLATFORM_UUID_TIME_HI_AND_VERSION=0x4368
CFLAGS += -DPLATFORM_UUID_CLOCK_SEQ_HI_AND_RESERVED=0x9c
CFLAGS += -DPLATFORM_UUID_CLOCK_SEQ_LOW=0xdd
CFLAGS += -DPLATFORM_UUID_NODE_0=0xa8
CFLAGS += -DPLATFORM_UUID_NODE_1=0x07
CFLAGS += -DPLATFORM_UUID_NODE_2=0x6c
CFLAGS += -DPLATFORM_UUID_NODE_3=0xc5
CFLAGS += -DPLATFORM_UUID_NODE_4=0xb0
CFLAGS += -DPLATFORM_UUID_NODE_5=0x90

$(call TOSMake_include_platform,denodeb)

$(call TOSMake_include_make_platform,avr)
$(call TOSMake_include_make_platform,avrplus)

denodeb_testsystem: $(BUILD_DEPS)
        @:
