#-*-Makefile-*- vim:syntax=make

TARGET = denode

PROGRAMMER ?= avrdude
PROGRAMMER_PART ?= -pm128rfa1

# 16 MHz
AVR_FUSE_L ?= 0xff

# OCDEN|JTAGEN|SPIEN|WDTON|EESAVE|BOOTSZ|BOOTRST
#   1  |   0  |  0  |  1  |   1  |  00  |   0
# No debugging, JTAG+SPI, no WDT, no EESAVE, 8K bootloader
AVR_FUSE_H ?= 0x98

# Brown-out at 2.4V
AVR_FUSE_E ?= 0xf8

CFLAGS += -DDEVICE_TYPE_IDENTIFICATOR=0x01
CFLAGS += -DDEVICE_HARDWARE_VERSION=0x02
MAIN_IMAGE_END_ADDRESS = 0x1e000

# 954877ff-c698-488a-99b9-170b779f47ec
CFLAGS += -DPLATFORM_UUID_TIME_LOW=0x954877ff
CFLAGS += -DPLATFORM_UUID_TIME_MID=0xc698
CFLAGS += -DPLATFORM_UUID_TIME_HI_AND_VERSION=0x488a
CFLAGS += -DPLATFORM_UUID_CLOCK_SEQ_HI_AND_RESERVED=0x99
CFLAGS += -DPLATFORM_UUID_CLOCK_SEQ_LOW=0xb9
CFLAGS += -DPLATFORM_UUID_NODE_0=0x17
CFLAGS += -DPLATFORM_UUID_NODE_1=0x0b
CFLAGS += -DPLATFORM_UUID_NODE_2=0x77
CFLAGS += -DPLATFORM_UUID_NODE_3=0x9f
CFLAGS += -DPLATFORM_UUID_NODE_4=0x47
CFLAGS += -DPLATFORM_UUID_NODE_5=0xec

$(call TOSMake_include_platform,denode)

$(call TOSMake_include_make_platform,avr)
$(call TOSMake_include_make_platform,avrplus)

denode: $(BUILD_DEPS)
        @:
