#-*-Makefile-*- vim:syntax=make

TARGET = detector

PROGRAMMER ?= avrdude
PROGRAMMER_PART ?= -pm128rfa1

# 16 MHz
AVR_FUSE_L ?= 0xff

# OCDEN|JTAGEN|SPIEN|WDTON|EESAVE|BOOTSZ|BOOTRST
#   1  |   0  |  0  |  1  |   1  |  00  |   0
# No debugging, JTAG+SPI, no WDT, no EESAVE, 8K bootloader
AVR_FUSE_H ?= 0x98

# Brown-out at 2.4V
AVR_FUSE_E ?= 0xf8

CFLAGS += -DDEVICE_TYPE_IDENTIFICATOR=0x02
CFLAGS += -DDEVICE_HARDWARE_VERSION=0x01
MAIN_IMAGE_END_ADDRESS = 0x1e000

$(call TOSMake_include_platform,denode)

$(call TOSMake_include_make_platform,avr)
$(call TOSMake_include_make_platform,avrplus)

detector: $(BUILD_DEPS)
        @:
