#-*-Makefile-*- vim:syntax=make

TARGET = murp0_testsystem

PROGRAMMER ?= avrdude
PROGRAMMER_PART ?= -pm256rfr2

# 16 MHz
AVR_FUSE_L ?= 0xff

# OCDEN|JTAGEN|SPIEN|WDTON|EESAVE|BOOTSZ|BOOTRST
#   1  |   0  |  0  |  1  |   1  |  00  |   0
# No debugging, JTAG+SPI, no WDT, no EESAVE, 8K bootloader
AVR_FUSE_H ?= 0x98

# Brown-out at 2.4V
AVR_FUSE_E ?= 0xf8

CFLAGS += -DDEVICE_TYPE_IDENTIFICATOR=0xAB
CFLAGS += -DDEVICE_HARDWARE_VERSION=0x20
MAIN_IMAGE_END_ADDRESS = 0x3e000

UUID_BOARD    = "e0fbe5d0-d03d-4344-803e-5352b65b5dcf"

UUID_PLATFORM = "23ce4dc6-932b-45a2-a855-870f55771c9a"
CFLAGS += -DPLATFORM_UUID_TIME_LOW=0x23ce4dc6
CFLAGS += -DPLATFORM_UUID_TIME_MID=0x932b
CFLAGS += -DPLATFORM_UUID_TIME_HI_AND_VERSION=0x45a2
CFLAGS += -DPLATFORM_UUID_CLOCK_SEQ_HI_AND_RESERVED=0xa8
CFLAGS += -DPLATFORM_UUID_CLOCK_SEQ_LOW=0x55
CFLAGS += -DPLATFORM_UUID_NODE_0=0x87
CFLAGS += -DPLATFORM_UUID_NODE_1=0x0f
CFLAGS += -DPLATFORM_UUID_NODE_2=0x55
CFLAGS += -DPLATFORM_UUID_NODE_3=0x77
CFLAGS += -DPLATFORM_UUID_NODE_4=0x1c
CFLAGS += -DPLATFORM_UUID_NODE_5=0x9a

$(call TOSMake_include_platform,murp0)

$(call TOSMake_include_make_platform,avr)
$(call TOSMake_include_make_platform,avrplus)

murp0_testsystem: $(BUILD_DEPS)
        @:
