#-*-Makefile-*- vim:syntax=make

TARGET = murpdome

PROGRAMMER ?= avrdude
PROGRAMMER_PART ?= -pm256rfr2

# 16 MHz
AVR_FUSE_L ?= 0xff

# OCDEN|JTAGEN|SPIEN|WDTON|EESAVE|BOOTSZ|BOOTRST
#   1  |   0  |  0  |  1  |   1  |  00  |   0
# No debugging, JTAG+SPI, no WDT, no EESAVE, 8K bootloader
AVR_FUSE_H ?= 0x98

# Brown-out at 2.0V
AVR_FUSE_E ?= 0xfc

CFLAGS += -DDEVICE_TYPE_IDENTIFICATOR=0xAD
CFLAGS += -DDEVICE_HARDWARE_VERSION=0x20
MAIN_IMAGE_END_ADDRESS = 0x3e000

# 4854ef71-59e0-44e5-8ffe-e66aa394bd52
CFLAGS += -DPLATFORM_UUID_TIME_LOW=0x4854ef71
CFLAGS += -DPLATFORM_UUID_TIME_MID=0x59e0
CFLAGS += -DPLATFORM_UUID_TIME_HI_AND_VERSION=0x44e5
CFLAGS += -DPLATFORM_UUID_CLOCK_SEQ_HI_AND_RESERVED=0x8f
CFLAGS += -DPLATFORM_UUID_CLOCK_SEQ_LOW=0xfe
CFLAGS += -DPLATFORM_UUID_NODE_0=0xe6
CFLAGS += -DPLATFORM_UUID_NODE_1=0x6a
CFLAGS += -DPLATFORM_UUID_NODE_2=0xa3
CFLAGS += -DPLATFORM_UUID_NODE_3=0x94
CFLAGS += -DPLATFORM_UUID_NODE_4=0xbd
CFLAGS += -DPLATFORM_UUID_NODE_5=0x52

$(call TOSMake_include_platform,murp)

$(call TOSMake_include_make_platform,avr)
$(call TOSMake_include_make_platform,avrplus)

murpdome: $(BUILD_DEPS)
        @:
