#-*-Makefile-*- vim:syntax=make

TARGET = murp1

PROGRAMMER ?= avrdude
PROGRAMMER_PART ?= -pm256rfr2

# 16 MHz
AVR_FUSE_L ?= 0xff

# OCDEN|JTAGEN|SPIEN|WDTON|EESAVE|BOOTSZ|BOOTRST
#   1  |   0  |  0  |  1  |   1  |  00  |   0
# No debugging, JTAG+SPI, no WDT, no EESAVE, 8K bootloader
AVR_FUSE_H ?= 0x98

# Brown-out at 2.4V
AVR_FUSE_E ?= 0xf8

CFLAGS += -DDEVICE_TYPE_IDENTIFICATOR=0xAC
CFLAGS += -DDEVICE_HARDWARE_VERSION=0x20
MAIN_IMAGE_END_ADDRESS = 0x3e000

UUID_BOARD    = "3f21975c-20f0-4344-98d5-0c97708559e1"

UUID_PLATFORM = "83a8a28a-ae04-482a-b6fa-8f42de071fb2"
CFLAGS += -DPLATFORM_UUID_TIME_LOW=0x83a8a28a
CFLAGS += -DPLATFORM_UUID_TIME_MID=0xae04
CFLAGS += -DPLATFORM_UUID_TIME_HI_AND_VERSION=0x482a
CFLAGS += -DPLATFORM_UUID_CLOCK_SEQ_HI_AND_RESERVED=0xb6
CFLAGS += -DPLATFORM_UUID_CLOCK_SEQ_LOW=0xfa
CFLAGS += -DPLATFORM_UUID_NODE_0=0x8f
CFLAGS += -DPLATFORM_UUID_NODE_1=0x42
CFLAGS += -DPLATFORM_UUID_NODE_2=0xde
CFLAGS += -DPLATFORM_UUID_NODE_3=0x07
CFLAGS += -DPLATFORM_UUID_NODE_4=0x1f
CFLAGS += -DPLATFORM_UUID_NODE_5=0xb2

$(call TOSMake_include_platform,murp1)

$(call TOSMake_include_make_platform,avr)
$(call TOSMake_include_make_platform,avrplus)

murp1: $(BUILD_DEPS)
        @:
